/* CSS TO KEEP*/

/* POP-UP WINDOW */
.pop-up {
	/* WINDOW'S STYLE */
	color: #7B2292;
	background-color: white;
	border-radius: 50px;
	text-align: center;
	width: 33%;
	//height: 80vh;

	font-family: 'Comic Helvetic Light';
	display: flex;
	flex-direction: column;
	
	/* WINDOW'S POSITION */
	z-index: 10;
	position: absolute;
	left: 33%;
}

/*
.pop-up div {
	display: flex;
	flex-direction: row;
}
*/

/* Title in pop-up */
.pop-up h2, .pop-up h3{
	color: #EE8100;
	font-family: 'Comic Helvetic Heavy';
}

/* Meal's picture to find */

/* BUTTON STYLE */
/* Div container */
.boutton-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 50%;
	margin-bottom: 30px;
}

/* Common style */
.boutton {
	font-family: 'Comic Helvetic Light';
	color: white;
	border: none;
	border-radius:5px;
	width: 20%;
	padding: 10px;
}

.boutton:hover {
	cursor: pointer;
}

/* Quit button */
.quitter {
	background-color:#7B2292; 
}

/* Play button */
.jouer {
	background-color:#EE8100; 
}




/* Cross window */
.close {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  right: 30px;
  top:20px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #EE8100;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* Answer's style */

/* Input's style */
/* Input */
.answer {
	border-radius: 15px;
	border-color: #7B2292;
	border-width: 1px;
	
}

/* Placeholder */
.answer, .answer::placeholder {
	color: #7B2292;
	text-align: center;
	font-size: 105%;
	font-family: 'Comic Helvetic Light';
}

/* Div's arrow container */
.submit {
	background-color: grey; /* Couleur à préciser ! */
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
	cursor: pointer;
}

.submit:hover {
	background-color: #EE8100;
}

.submit img {
	max-height: 25px;
}

/* Div container submit + input */
.input-submit{
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	margin: 20px;
}


/* Fonts */
@font-face {
font-family: 'Comic Helvetic Light';
font-style: normal;
font-weight: normal;
src: local('Comic Helvetic Light'), url('font/ComicHelvetic_Light.woff') format('woff');
}


@font-face {
font-family: 'Comic Helvetic Heavy';
font-style: normal;
font-weight: normal;
src: local('Comic Helvetic Heavy'), url('font/ComicHelvetic_Heavy.woff') format('woff');
}


.backgroundBlur {
	/*filter: blur(50px);*/
}

/* CSS to leave */
body {
	background-color: grey;
}